<template>
  <div class="container">
      <b-form class="col-md-6 offset-md-3">
        <b-form-group>
            <b-form-input
                id="input-1"
                v-model="product.name"
                type="text"
                required
                placeholder="Enter Product name"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Product Price:" label-for="input-2">
            <b-form-input
                id="input-2"
                type="number"
                v-model="product.price"
                required
                placeholder="Enter Product price"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Shipping price:" label-for="input-3">
            <b-form-input
                id="input-3"
                v-model="product.shipping"
                type="number"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Description:" label-for="input-3">
            <b-form-textarea
                v-model="product.description"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
            ></b-form-textarea>
        </b-form-group>

        <b-form-group id="input-group-3" label="Description:" label-for="input-3">
            <b-form-file
                v-on:change="onFileSelect($event)"
                placeholder="Choose a file or drop it here..."
                drop-placeholder="Drop file here..."
            ></b-form-file>
        </b-form-group>        

        <b-button v-on:click="add_product()" variant="primary">Add Product</b-button>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return {
            product :{
                name:'',
                price:0,
                shipping:0,
                description:''
            },
            message:'',
            image:null,
            err:null
        }
    },
    mounted(){

    },
    methods:{
        add_product(){
            var fd = new FormData()
            fd.append('name',this.product.name)
            fd.append('price',this.product.price)
            fd.append('shipping_price',this.product.shipping)
            fd.append('description',this.product.description)
            fd.append('image',this.image,this.image.filename)
            axios.post(`http://localhost:8000/api/product`,fd).then((data)=>{
                alert('success')
                this.message = data
            }).catch((e)=>{
                this.err = e.message
            })
        },
        onFileSelect(event){
            this.image = event.target.files[0]
        }
    }
}
</script>

<style>

</style>