<template>
  <div class="container">
      <div>
        <b-jumbotron header="Shopping Cart page" lead="Shopping cart">
            <p></p>
            <!-- <b-button variant="primary" href="#">More Info</b-button> -->
        </b-jumbotron>
     </div>
     <div>
        <!-- <b-table striped hover :items="items"></b-table> -->
        <table class="table table-striped">
            <thead>
                <th>
                    Product name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Shipping
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Sub Total
                </th>
                <th>
                    Action
                </th>
            </thead>
            <tbody v-for="c of items" :key="c.prod_id">
                <td>
                    {{c.product_name}}
                </td>
                <td>
                    N{{c.price}}
                </td>
                <td>
                    N{{c.shipping}}
                </td>
                <td>
                    {{c.qty}}
                </td>
                <td>
                    N{{c.subtotal}}
                </td>
                <td>
                    X
                </td>
            </tbody>
        </table>
     </div>
     <div>
        <b-card-group deck>
            <b-card
            header="Total"
            header-tag="header"
            footer="Card Footer"
            footer-tag="footer"
            :title="'N'+total"
            > 
            <b-button href="#" variant="primary">Checkout</b-button>
            </b-card>
        </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return {
            fields:[],
            items:null,
            email:'fjohn087@gmail.com',
            cart:null,
            total:null
        }
    },
    mounted(){
        this.get_cart();
    },
    methods:{
        get_cart(){
            axios.get(`http://localhost:8000/api/cart/${this.email}`).then((data)=>{
                this.items = data.data.cart
                this.total = data.data.total
            })
        }
    }
}
</script>

<style>

</style>