<template>
  <div class="container">
    <div class="mb-4">
      <b-card-group deck>
        <b-card class="col-md-4" v-for="a of articles.data" :key="a.id" :title="a.name" :img-src="getImage(a.image)" img-alt="Image" img-top>
          <b-card-text>
            {{a.description}}
          </b-card-text>
            <b-button :to="{name:'Product detail',params:{
              p_id:a.id
            }}" variant="primary">Add to Cart</b-button>
        </b-card>        
      </b-card-group>
    </div>
  </div>
</template>

<script>
// import api from '../services/api';
import axios from 'axios';
export default {
  name: 'Articles',
  data () {
    return {
      message:'',
      articles:null
    }
  },
  mounted(){
    this.get_article()
  },
  methods: {
    get_article(){
      axios.get('http://localhost:8000/api/products').then(data => {
        this.articles = data.data;
      })
    },
    getImage(image){
      return "http://localhost:8000/storage/image/"+image;
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
