<template>
  <div class="container">
    <div class="mb-4">
        <b-card :img-src="'http://localhost:8000/storage/image/'+info.image" img-alt="Card image" img-left class="mb-3">
            <b-card-text>
                {{info.description}}
            </b-card-text>
            <b-card-text>
                Price: N{{info.price}} Shipping Price: N{{info.shipping_price}}
            </b-card-text>
            <b-form-group class="col-md-4 offset-md-4" id="input-group-3" label="Provide an email address:" label-for="input-3">
            <b-form-input
                id="input-3"
                v-model="email"
                type="email"
            ></b-form-input>
        </b-form-group>
            <b-button @click="add_to_cart(info.id)" variant="primary">
                Add to Cart
            </b-button>
        </b-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return {
            info:null,
            email:''
        }
    },
    mounted(){
        this.get_info()
    },
    methods:{
        get_info(){
            var {p_id} = this.$route.params
            axios.get(`http://localhost:8000/api/product/${p_id}`).then((data)=>{
                this.info = data.data.detail;
            })
        },
        add_to_cart(id){
            var data = {
                email:this.email,
                prod_id:id
            }
            axios.post(`http://localhost:8000/api/add_to_cart`,data).then((data)=>{
                alert(data.message)
            })
        }
    }
}
</script>

<style>

</style>