<template>
  <div id="app">
    <div class="mb-4">
      <Nav></Nav>
    </div>
    <br>
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HomeComponent msg="Welcome to Your Vue.js App"/> -->
    <router-view></router-view>
  </div>
</template>

<script>
// import HomeComponent from './components/home.vue'
import Nav from './components/nav.vue'

export default {
  name: 'app',
  components: {
    Nav
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
